html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

#img {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:100%;
    height:auto;
  }

  a, a:visited{
    color: white;
  }

  figcaption {
    font-size: x-small;
  }
  
  html {
    font-size:10px;
  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: white;
  }


  table {
    position: absolute;
    top: 23%;
  }

  td:hover{
    background: #333;

  }

h3 {
    padding-bottom: 25px;
}